.save-btn {
    padding: 1.5
}

#tbl_row{
    position: relative; 
   }

#tbl_row:hover::after{
    content: attr(data-title);
    position: absolute; 
    bottom: 90%;
    margin-left: -100px;
    z-index: 1; 
    background: rgb(112, 112, 112);
    font-family: Arial, sans-serif; 
    font-size: 14px;
    color: white;
    width:max-content;
    padding: 2px;
    border-radius: 4px;
}