table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    border-collapse: collapse;
    width: 100%;
  }

  th{
    color: white;
    text-align: center;
  }

  td{
    text-align: left;
  }

  td,
  th {
    border: 1px solid #E0E3E7;
    padding: 6px;
  }

  th {
    background-color: #1976d2;
  }

  #search_bar {
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
  }

  